.form-control:focus {
    box-shadow: none;
    border-color: #C1282D
}

.profile-button {
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #C1282D;
}

.profile-button:focus {
    background: #C1282D;
    box-shadow: none
}

.profile-button:active {
    background: #C1282D;
    box-shadow: none
}

.back:hover {
    color: #C1282D;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #C1282D;
    color: #fff;
    cursor: pointer;
    border: solid 1px #C1282D
}
